body {
  background-image: url("../media/login-bg.png");
  background-size: 100% 2000px;
  background-repeat: repeat-y;
  background-attachment: fixed;
}
md-whiteframe {
  opacity: 0.85;
  background-color: white;
  /*margin-top: px;*/
}

#hackduke-row {
  height:70px; 
  margin-top: 30px; 
  margin-left:auto; 
  margin-right:auto;
}

#hardware-row {
  height:10px; 
  margin-left:auto; 
  margin-right:auto; 
  margin-top:5px;

}

#hackduke {
  font-size: 70px;
  color: white;
  opacity: 0.95;
  margin-left: auto;
  margin-right: auto;
  /*-ms-transform: translate(-50%,-50%); /* IE 9 */
  -webkit-transform: translate(0%,-10%); /* Chrome, Safari, Opera */
}

#hardware {
  font-size: 20px;
  color: white;
  opacity: 0.9;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translate(0%,-10%); /* Chrome, Safari, Opera */
}

.dukecard-tag {
  margin-left: 10px;
  font-size: 7pt;
  color:red;
}

.vertical-container{
  height:292px;
  width:100%;
}

#btnGroup {
  width: 100%;
  background-color: transparent;
}

#btnGroup .md-button {
  border-radius: 15px 15px 15px 15px;
  width: 110px;
  margin-left: 25px;
}

md-content {
  width: 100%;
  background-color: transparent;
}

#buttons {
  opacity: 100%;
}

#btnCheckin {
  background-color: rgb(235,90,209);
}

#btnUser {
  background-color:  red;
}

.md-list-item {
  width:100%;
}

md-dialog {
  width: 350px;
  height: 180px;
}
md-dialog .md-button {
  width: 175px;
}

.description{
  font-size: 11pt;
}

md-list-item p {
  margin-top: -7px;
  font-size: 11pt;
}
md-list-item .payment {
  color:grey;
  font-weight: 3;
}

md-divider {
  margin-top: 10px;
  margin-bottom: 0; 
}
md-card-content p{
  font-size: 10pt;
}