body {
  background-image: url("../media/login-bg.png");
  background-size: 100% 2000px;
  background-repeat: repeat-y;
  background-attachment: fixed;
}
md-whiteframe {
  opacity: 0.85;
  background-color: white;
  max-height: 100px;
}

#hackduke {
  font-size: 70px;
  color: white;
  opacity: 0.95;
}

#hardware {
  font-size: 20px;
  color: white;
  opacity: 0.9;
}

.dukecard-tag {
  margin-left: 10px;
  font-size: 7pt;
  color:red;
}

.vertical-container{
  height:292px;
  width:100%;
}

#btnGroup {
  width: 100%;
  background-color: transparent;
  /*opacity: 0%;*/
}

#btnGroup .md-button {
  border-radius: 15px 15px 15px 15px;
  width: 110px;
  margin-left: 25px;
  /*margin-right: 25px;*/
}

md-content {
  width: 100%;
  background-color: transparent;
}

#buttons {
  opacity: 100%;
}

#btnCheckin {
  background-color: rgb(235,90,209);
 /* border-radius: 15px 15px 15px 15px;
  width: 110px;*/
/*  margin-left: 25px;
  margin-right: 25px;*/
}
/*#btnCheckout {
  border-radius: 15px 15px 15px 15px;
  width: 110px;
}
#btnInv {
  border-radius: 15px 15px 15px 15px;
  width: 110px;
}*/
#btnUser {
  /*border-radius: 15px 15px 15px 15px;*/
  background-color:  red;
}

.md-list-item {
  width:100%;
}

md-dialog {
  width: 350px;
  height: 180px;
}
md-dialog .md-button {
  width: 175px;
}
/*md-dialog .info p {
  font-size: 10.5pt;
  margin-left: 12px;
  margin-top: -7px;*/
  /*color:grey;*/
}

.description{
  font-size: 11pt;
}

md-list-item p {
  margin-top: -7px;
  font-size: 11pt;
}
md-list-item .payment {
  color:grey;
  font-weight: 3;
}

md-divider {
  margin-top: 10px;
  margin-bottom: 0; 
}
md-card-content p{
  font-size: 10pt;
}